#previousButton {
  border:0;
  background-color: #F3EFE0;
}

#nextButton {
  border:0;
  background-color: #F3EFE0;
}

#playButton {
  border:0;
  background-color: #F3EFE0;
}

#slider {
  -webkit-appearance: none;
    height: 5px;
    width: 150px;
    border-radius: 5px;
    background-color: #696969;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white ;
  border: 1.5px solid #696969;
}

#currentPlayingTrackX {
  width:460px;
  background:transparent;
  border:0;
  text-overflow: ellipsis;
  padding:0;
  font-size: 20px;
  top:10%;
  left:35%;
  text-align: center;
}
#currentPlayingTrackY {
  width:460px;
  background:transparent;
  border:0;
  text-overflow: ellipsis;
  padding:0;
  font-weight: bold;
  font-size: 20px;
  top:17%;
  left:35%;
  text-align: center;
}

#sliderSong {
  -webkit-appearance: none;
  height: 3px;
  width: 460px;
  border-radius: 5px;
  background-color: #696969;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#sliderSong::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.8;
}

#timeOfSong {
  position: absolute;
  top: 22.5%;
  right: 25%;
  font-size: 15px;
}

#lovedListDiv {
  height: 300px;
  width: 400px;
  max-width: 400px;
  max-height: 300px;
  background: transparent;
  /* box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.2); */
}


#lovedList {
  list-style-type: none;
  text-align: left;
  font-size:15px;
  padding: 5px 5px 5px 5px;
  margin:5px;
  overflow-y: auto;
  max-height: 275px;
  display: none;
}

#lovedList li:nth-child(even) {
  /* border-bottom: 1px solid #f1f1f1; */
  background-color: #f1f1f1;
  padding: 0px 5px 0px 5px;
  max-height: 19.4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#lovedList li:nth-child(odd) {
  /* border-bottom: 1px solid #f1f1f1; */
  background-color: #F3EFE0;
  padding: 0px 5px 0px 5px;
  max-height: 19.4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#loveButton {
  padding: 0;
  border:0;
  background-color: #F3EFE0;
}
