<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Spotify Stats</title>
  <link rel='icon' href='/images/spotify_icon.png'>
  <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
  <link rel='stylesheet' type='text/css' href='/stylesheets/page2.css'>
</head>
<body>
  <!-- Login screen -->
  <div id='logInScreenDiv' style='display:block;'>
    <h1> PLEASE LOG IN  </h1>
    <form action='/login' method="get">
      <input type="submit" id="clickMe" name="username" value="Log In" onclick="logInF()">
    </form>
  </div>
  <!-- Displayed after login is successful -->
  <div id='loggedInScreenDiv' style="display:none;height:100%;">
    <div>
      <!-- A button to perform the same task as the log in button, to refresh the access token -->
      <img src='/images/refresh.png' id='refresh'>
      <h1> Spotify Stats </h1>
      <a target="_blank" id='userNameBox' class='output' readonly>ID</a><br>
      <a target="_blank" id='currentPlayingTrack' class='output' readonly>current song</a>
    </div>
    <div id='artistsDiv'>
      <h3>Top Artists</h3>
      <a target="_blank" id='artist0' class='output' readonly>Artist One</a><br>
      <a target="_blank" id='artist1' class='output' readonly>Artist Two</a><br>
      <a target="_blank" id='artist2' class='output' readonly>Artist Three</a><br>
      <a target="_blank" id='artist3' class='output' readonly>Artist Four</a><br>
      <a target="_blank" id='artist4' class='output' readonly>Artist Five</a><br>
    </div>
    <!-- A dropdown to set the time range of the above element -->
    <div id='artistsDropDownDiv' style='position: absolute;top:30%;right:20%;'>
      <div id='dropdownA'>
        <button id='dropAButton'>Time range</button>
        <div id='artistsDropDownContent'>
          <p id='shortTermA'>Short Term</p>
          <p id='mediumTermA'>Medium Term</p>
          <p id='longTermA'>Long Term</p>
        </div>
      </div>
    </div>
    <div id='songsDiv'>
      <h3>Top Songs</h3>
      <a target="_blank" id='song0' class='output' readonly>Song One</a><br>
      <a target="_blank" id='song1' class='output' readonly>Song Two</a><br>
      <a target="_blank" id='song2' class='output' readonly>Song Three</a><br>
      <a target="_blank" id='song3' class='output' readonly>Song Four</a><br>
      <a target="_blank" id='song4' class='output' readonly>Song Five</a><br>
    </div>
    <div id='songsDropDownDiv' style='position:absolute; top:62%; right:20%;'>
      <div id='dropdownS'>
        <button id='dropSButton'>Time Range</button>
        <div id='songsDropDownContent'>
          <p id='shortTermS'>Short Term</p>
          <p id='mediumTermS'>Medium Term</p>
          <p id='longTermS'>Long Term</p>
        </div>
      </div>
    </div>
    <!-- A button to scroll to the second page -->
    <button id='scrollD' style="position:absolute;bottom:0.5%;border:0;background:transparent;cursor:pointer;padding:0;">â‡©</button>
    <!-- MIDDLE -->
    <div id='pg2' style='height:100%;width:100%;top:100%;position:absolute;background: linear-gradient(#fdfdaa, #F3EFE0);'>
      <div>
      <div id='playerDiv' style='position:relative;top:36px;width:500px;display:block;margin:auto'>
        <div id='imageContainer'style="width:100%;position:relative;">
          <img src='/images/wavYYYYYYY.gif' style="max-width:500px;max-height:500px;">
        </div>
        <div id='buttons' style="width:100px;height:20px;margin-left:50px;display:inline-flex;float:left;">
          <!-- Functional buttons to pause, play and skip the song, change the volume and scrub along the timeline -->
          <input type='submit' id='previousButton'          value='âšâ—€'           style='min-width:20px;min-height:20px;'>
          <input type='submit' id='nextButton'              value='â–¶âš'           style='min-width:20px;min-height:20px;'>
          <input type='submit' id='playButton'              value='â–¶âšâš'          style='min-width:20px;min-height:20px;'>
          <input type="button" id='loveButton' value="ðŸ–¤"                        style='min-width:20px;min-height:20px;'>
        </div>
        <div id='volDiv' style="display:inline-flex;float:right;margin-right:50px;height:20px;">
          <input type="range" min='0' max='100' value='100' id='slider' style="position:relative; top:6px;">
        </div>
        <div id='currentPlayingDiv' style="display:block;margin-top:30px;">
          <input type='text'   id='currentPlayingTrackX'    value='current song' style='min-width:20px;min-height:20px;' class='output' readonly>
          <input type='text'   id='currentPlayingTrackY'    value='current song' style='min-width:20px;min-height:20px;' class='output' readonly>
          <input type="range" min='0' max='' value='' id='sliderSong' style="">
          <input type="text" value='' id='timeOfSong' class='output' readonly>
        </div>
      </div>
      <!-- <div id='albumCoverDiv' style="position:absolute;width:100%;bottom:12%;">
      <img src='' id='albumCover' style='height:auto;width:auto;max-width:200px;max-height:200px;box-shadow: 4px 4px 8px 1px rgba(0,0,0,0.2);'>
    </div> -->
    <div style="float:right;transform:translate(0, -380px)">
    <div id='lovedListDiv'>
      <ul id='lovedList'>

      </ul>
    </div>
  </div>
    <div id='footer' style='position:absolute;bottom:0%;width:100%;background-color: #F3EFE0;'>
      <button id='scrollU' style="margin:0;border:0;background:transparent;cursor:pointer;padding:0;">â‡§</button>
      <h4 style='margin:0;margin-bottom:5px;'>Jamie Mattocks</h4>
    </div>
  </div>
</div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type='text/javascript' src='/javascripts/scripts.js'></script>
</html>
